/* Reset de esilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Encabezado */
header {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    color: black;
    border-radius: 15px;
    width: 90%;
}

header h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

header p {
    font-size: 16px;
}

/* Calculadora */
#calculadora {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    padding: 25px;
    background-color: #bb8cdbda;
    border-radius: 15px;
}

/* Pantalla de calculadora */
#display {
    grid-column: span 4;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 15px;
    text-align: right;
    background-color: #aeacac;
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;

    /*Ocultar texto que se desborda */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    /*Transición suave si cambia tamaño */
    transition: font-size 0.2s ease;
}

/* Botones */
.colum-2 {
    grid-column: span 2;
}

button {
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
    border: none;
    background-color: #9289dc;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .2s ease-in;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    background-color: #585858d1;
}

.btn-reset {
    background-color: #fb8e5b;
}

/* Pie de pagina */
footer {
    margin-top: 25px;
    padding: 15px;
    width: 90%;
    color: black;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
}
