* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

body {
    background-color: rgba(213, 155, 206, 0.619);
}

p:before {
    content: attr(type);
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
}

input {
    width: 250px;
    border: none;
    border-bottom: 2px solid #f995136c;
    background-color: transparent;
    color: #000000;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input:focus {
    outline: none;
    border-bottom: 3px solid #f99513;
}

.formcontainer {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    width: 320px;
    margin-top: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.301);
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #9289dc;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .2s ease-in;
}

.btn, 
.title {
    display: flex;
    justify-content: center;
}

.msg-error {
    background-color: #c32ce956;
    color: red;
    display: none;
    border-left: 5px solid red;
    padding: 10px;
    font-weight: bold;
}

.error-asterisco {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

footer {
    margin-top: 25px;
    padding: 15px;
    width: 90%;
    color: black;
}