h1 {
    color: red;
    background: blue;
    border: 1px solid black;
    width: 600px;
    height: 90px;
}

h2 {
    color: #a654ddda;
    background-color: #bbe5f8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid red;
}

p {
    background-color: #ad6bef;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}